# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

|__Objectives__|
|--------|
|List popular languages for Data|
|List libraries for Data|
|List Data Science Tools|

Some of the popular languages that Data Scientists use are: 
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists included: 
    1. Pands
    2. Numpy
    3. Scipy

| Data Science Tools|
|-------------------|
|VS Code|
|Gitlab|
|Budibase|

### Below are few examples of evaluating arithmetic expression in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author

Ramadani